.dragContainer {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.drag {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
button{

}
.bottom{
    position:relative;
    margin-top: 80vh;
    left: 50px;
}

#hello{
    color: rosybrown;
    width: 100px;
    height: 50px;
    background-color: #2196F3;
}

#memoryContainer img {
    width: 70px;
}

.removed{
    visibility: hidden;
}

#chatBox{
    border: 1px black solid;
    width: 500px;
    height: 400px;
    margin-bottom: 4px;
    margin-top: 4px;
    overflow: auto;
}
