.dragContainer {
    position: absolute;
    z-index: 9;
    background-color: powderblue;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.drag {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    margin-bottom: 5px;
}
.drag button{
    float: right;

    margin-top: 0;
    margin-right: 0;
    padding: 0px;
}
.exit{
    position: absolute;
    top: 0;
    right:0;
}
button{

}
.bottom{
    position:relative;
    margin-top: 80vh;
    left: 50px;
}

#hello{
    color: rosybrown;
    width: 100px;
    height: 50px;
    background-color: #2196F3;
}

#memoryContainer img {
    width: 70px;
}

.removed{
    visibility: hidden;
}
.displayNone{
    display: none;
}

#chatBox{
    border: 1px black solid;
    text-align: left;
    background-color: white;
    width: 300px;
    height: 250px;
    margin-bottom: 4px;
    margin-top: 4px;
    overflow: auto;
}
#chatInput{
    margin-bottom: 5px;
}

.focus{
    z-index: 100;
}
