#mydiv, .dragContainer {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader, .drag {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
button{
    margin-bottom: 50px;
    }
#hello{
    color: rosybrown;
    width: 100px;
    height: 50px;
    background-color: #2196F3;
}

#memoryContainer img {
    width: 70px;
}

.removed{
    visibility: hidden;
}